body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(68, 67, 67, 0.75),
      rgba(58, 58, 58, 0.75)
    ),
    url("./backgroundphoto3.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: grid;
  grid-template-areas:
    "logo"
    "navbar"
    "contact-form";
}

.logo {
  grid-area: logo;
}
.navbar {
  grid-area: navbar;
}
.contact-form {
  grid-area: contact-form;
  margin: auto;
}
.contact-form > div {
  display: flex;
  padding: 2%;
}
.contact-form input {
  margin-left: auto;
  margin: 2%;
}
.contact-form label {
  padding-right: 50px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.logo {
  margin: 0 auto;
  max-width: 120px;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  color: lightgray;
  text-transform: uppercase;
  border: solid 25px rgb(248, 195, 203);
}

.navbar ul li {
  list-style: none;
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: solid 3px rgb(252, 195, 203);
}
@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-areas:
      "logo navbar"
      "contact-form";
  }
}
